<div class="flex items-stretch justify-center w-full min-w-0 gap-2 p-2">

  <div class="w-96 flex flex-col flex-shrink-0 gap-2">
    <v-card [config]="{
              padding: 2,
              borderRadius: 2,
            }">
      <div class="flex gap-2">
        <v-button [class.v-flat]="activeTab$$() === MoneyTab.Setup"
                  [class.flex-grow]="activeTab$$() === MoneyTab.Setup"
                  [class.v-link]="activeTab$$() !== MoneyTab.Setup"
                  [class.v-link-static]="activeTab$$() !== MoneyTab.Setup"
                  [config]="{
                    padding: 2,
                    isLabelHidden: activeTab$$() !== MoneyTab.Setup,
                  }"
                  (onClick)="setActiveTab(MoneyTab.Setup)">
          <v-icon v-prefix
                  [name]="Icon.Settings"
                  [size]="7"></v-icon>
          Setup
        </v-button>

        <v-button [class.v-flat]="activeTab$$() === MoneyTab.Categories"
                  [class.flex-grow]="activeTab$$() === MoneyTab.Categories"
                  [class.v-link]="activeTab$$() !== MoneyTab.Categories"
                  [class.v-link-static]="activeTab$$() !== MoneyTab.Categories"
                  [config]="{
                    padding: 2,
                    isLabelHidden: activeTab$$() !== MoneyTab.Categories,
                  }"
                  (onClick)="setActiveTab(MoneyTab.Categories)">
          <v-icon v-prefix
                  [name]="Icon.Category"
                  [size]="7"></v-icon>
          Categories
        </v-button>

        <v-button [class.v-flat]="activeTab$$() === MoneyTab.Assets"
                  [class.flex-grow]="activeTab$$() === MoneyTab.Assets"
                  [class.v-link]="activeTab$$() !== MoneyTab.Assets"
                  [class.v-link-static]="activeTab$$() !== MoneyTab.Assets"
                  [config]="{
                    padding: 2,
                    isLabelHidden: activeTab$$() !== MoneyTab.Assets,
                  }"
                  (onClick)="setActiveTab(MoneyTab.Assets)">
          <v-icon v-prefix
                  [name]="Icon.Enterprise"
                  [size]="7"></v-icon>
          Assets
        </v-button>

        <v-button [class.v-flat]="activeTab$$() === MoneyTab.Transactions"
                  [class.flex-grow]="activeTab$$() === MoneyTab.Transactions"
                  [class.v-link]="activeTab$$() !== MoneyTab.Transactions"
                  [class.v-link-static]="activeTab$$() !== MoneyTab.Transactions"
                  [config]="{
                    padding: 2,
                    isLabelHidden: activeTab$$() !== MoneyTab.Transactions,
                  }"
                  (onClick)="setActiveTab(MoneyTab.Transactions)">
          <v-icon v-prefix
                  [name]="Icon.List"
                  [size]="7"></v-icon>
          Transactions
        </v-button>
      </div>
    </v-card>

    @if (activeTab$$() === MoneyTab.Setup) {
      <accounts-list />
      <organizations-list />
      <currencies-list />
    }

    @if (activeTab$$() === MoneyTab.Categories) {
      <categories-list />
    }

    @if (activeTab$$() === MoneyTab.Assets) {
      <assets-list />
    }

    @if (activeTab$$() === MoneyTab.Transactions) {
      <transactions-list />
    }
  </div>

  <div class="flex flex-col flex-1 max-w-full min-w-0 gap-2">
    <v-card class="w-full max-w-full min-w-0"
            [config]="{
              padding: 3,
              borderRadius: 2,
            }">
      @if (isChartDataReady$$()) {
        <expense-chart [dataInput]="expenseChartData$$()" />
      } @else {
        <div class="h-[279px] flex items-center justify-center">
          <div class="border-t-transparent animate-spin w-8 h-8 border-2 rounded-full"
               style="border-color: var(--v-color-primary); border-top-color: transparent;"></div>
        </div>
      }
    </v-card>

    <v-card class="w-full max-w-full min-w-0"
            [config]="{
              padding: 3,
              borderRadius: 2,
            }">
      @if (isChartDataReady$$()) {
        <income-chart [dataInput]="incomeChartData$$()" />
      } @else {
        <div class="h-[279px] flex items-center justify-center">
          <div class="border-t-transparent animate-spin w-8 h-8 border-2 rounded-full"
               style="border-color: var(--v-color-primary); border-top-color: transparent;"></div>
        </div>
      }
    </v-card>

    <v-card class="w-full max-w-full min-w-0"
            [config]="{
              padding: 3,
              borderRadius: 2,
            }">
      @if (isChartDataReady$$()) {
        <balances-chart [dataInput]="balanceChartData$$()" />
      } @else {
        <div class="h-[324px] flex items-center justify-center">
          <div class="border-t-transparent animate-spin w-8 h-8 border-2 rounded-full"
               style="border-color: var(--v-color-primary); border-top-color: transparent;"></div>
        </div>
      }
    </v-card>
  </div>

</div>
