<div class="flex justify-end">
  <v-input fieldStateAnimations
           [state]="currentState"
           [formControl]="form.controls.bodyWeight"
           [config]="{
               type: 'number',
               label: FormLabels.WEIGHT,
               fontSize: '20px',
               fontWeight: 500,
               textAlign: 'right',
             }"
           (onInputChanged)="onInput()"
           (onEnterPressed)="onEnter()"
           class="w-1/3">
    <span v-postfix
          class="mr-3">кг</span>
  </v-input>
</div>
