<div class="flex flex-wrap justify-end gap-2 mr-1">
  @for (toggle of toggles; track toggle.block) {
    <v-button [surface]="isOpen(toggle.block) ? 'inset' : 'raised'"
              [isLabelHidden]="true"
              [borderRadius]="7"
              [padding]="3"
              (onClick)="toggleBlock(toggle.block)">
      <v-icon v-prefix
              [name]="toggle.icon"
              [size]="6" />
    </v-button>
  }
</div>

<div class="flex flex-col gap-4 mt-3">
  @if (isOpen(Block.Streak)) {
    <food-stats-streak />
  }
  @if (isOpen(Block.Milestones)) {
    <food-stats-milestones />
  }
  @if (isOpen(Block.Charts)) {
    <food-stats-charts />
  }
  @if (isOpen(Block.TopProducts)) {
    <food-stats-top-products />
  }
</div>

<div class="h-[150px]"></div>
