<nav class="flex flex-col h-screen gap-2 pt-4 pb-4 pl-2">
  <div class="sidebar-header">
    <h3>UI Kit</h3>
  </div>

  <div class="flex flex-col gap-2">
    <v-button [config]="{
                buttonStyle: foodButtonStyle(),
                width: '100%',
                padding: 2,
                isLabelHidden: isMenuCollapsed,
                textAlign: 'left',
              }"
              class="menu-item"
              (click)="navigateToFood()">
      <v-icon v-prefix
              [name]="Icon.Restaurant"
              [size]="7" />
      Food
    </v-button>

    <v-button [config]="{
                buttonStyle: moneyButtonStyle(),
                width: '100%',
                padding: 2,
                isLabelHidden: isMenuCollapsed,
                textAlign: 'left',
              }"
              class="menu-item"
              (click)="navigateToMoney()">
      <v-icon v-prefix
              [name]="Icon.Paid"
              [size]="7" />
      Money
    </v-button>

    <v-button [config]="{
                buttonStyle: iconsButtonStyle(),
                width: '100%',
                padding: 2,
                isLabelHidden: isMenuCollapsed,
                textAlign: 'left',
              }"
              class="menu-item"
              (click)="navigateToIcons()">
      <v-icon v-prefix
              [name]="Icon.ViewCozy"
              [size]="7" />
      Icons
    </v-button>

    <v-button [config]="{
                buttonStyle: otherButtonStyle(),
                width: '100%',
                padding: 2,
                isLabelHidden: isMenuCollapsed,
                textAlign: 'left',
              }"
              class="menu-item"
              (click)="navigateToOther()">
      <v-icon v-prefix
              [name]="Icon.Article"
              [size]="7" />
      Other
    </v-button>
  </div>

  <div class="flex flex-col gap-2 mt-auto">
    <v-button [config]="{
                buttonStyle: ButtonStyle.Flat,
                padding: 2,
                isLabelHidden: true,
              }"
              class="menu-item"
              (click)="toggleMenuCollapse()">
      <v-icon v-prefix
              [name]="getMenuSizeControlIconName()"
              [size]="7" />
    </v-button>

    <v-button [config]="{
                buttonStyle: settingsButtonStyle(),
                width: '100%',
                padding: 2,
                isLabelHidden: isMenuCollapsed,
                textAlign: 'left',
              }"
              class="menu-item"
              (click)="navigateToSettings()">
      <v-icon v-prefix
              [name]="Icon.Settings"
              [size]="7" />
      Settings
    </v-button>
  </div>
</nav>
