.sidebar {
  /* width: 200px; */
  height: 100vh;
  padding: var(--unit-6) var(--unit-4);
}

.sidebar-header {
  /* margin-bottom: 2rem; */
  /* padding-bottom: 1rem; */
  /* border-bottom: 1px solid #ddd; */
}

.sidebar-header h3 {
  font-size: 1.2rem;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  gap: var(--unit-2);
}
