<form [formGroup]="settingsForm">

  <mat-card class="flex flex-col p-4 text-lg">
    <div class="font-bold text-right"> {{ Labels.MAIN_SETTINGS }} </div>
    <div class="font-normal"> {{ Labels.CHAPTERS_SELECTION }} </div>
    <div class="ml-5">
      <mat-chip-listbox multiple
                        class="mat-mdc-chip-set-stacked w-64">
        <mat-chip-option [selected]="settingsForm.controls.selectedChapterFood.value"
                         (click)="onSelectedChapterChipToggle(KeyOfSettings.selectedChapterFood)"
                         [disabled]="settingsForm.controls.selectedChapterFood.disabled">
          <span class="text-lg"> {{ Labels.FOOD_DIARY }} </span>
        </mat-chip-option>

        <mat-chip-option [selected]="settingsForm.controls.selectedChapterMoney.value"
                         (click)="onSelectedChapterChipToggle(KeyOfSettings.selectedChapterMoney)"
                         [disabled]="settingsForm.controls.selectedChapterMoney.disabled">
          <span class="text-lg"> {{ Labels.MONEY_DIARY }} </span>
        </mat-chip-option>
      </mat-chip-listbox>
    </div>

    <div class="flex gap-4 mt-4">
      <div class="font-normal leading-[30px]"> {{ Labels.DARK_THEME }} </div>
      <div>
        <mat-slide-toggle color="primary"
                          [checked]="settingsForm.controls.darkTheme.value"
                          (click)="onThemeToggle()"
                          [disabled]="settingsForm.controls.darkTheme.disabled" />
      </div>
    </div>
  </mat-card>

  <mat-card class="flex flex-col p-4 mt-4 text-lg">
    <div class="font-bold text-right"> {{ Labels.FOOD_DIARY_SETTINGS }} </div>
    <div class="w-1/3 mt-4">
      <mat-form-field appearance="outline"
                      class="field-with-progress-animations"
                      fieldStateAnimations
                      [state]="heightFieldState">
        <mat-label> {{ Labels.HEIGHT }} </mat-label>

        <input matInput
               type="number"
               formControlName="height"
               (keydown.enter)="onHeightEnter()"
               (input)="onHeightInput()" />

        <span matTextSuffix
              class="ml-1"
              [class.invalid-suffix]="!isHeightValid"> {{ Labels.HEIGHT_SUFFIX }} </span>

        <mat-error *ngIf="!isHeightValid"> {{ ErrorLabels.HEIGHT }} </mat-error>
      </mat-form-field>
    </div>
  </mat-card>

  <!-- TODO[066]: Delete this sometime -->
  <mat-card class="flex flex-col gap-4 p-4 mt-4 text-lg">
    <div class="font-bold text-right"> {{ Labels.TEMP_SETTINGS }} </div>
    <button mat-stroked-button
            [disabled]="isTempGetOldDataButtonDisabled"
            (click)="onTempGetOldDataButtonClick()"
            color="basic"> {{ Labels.TEMP_GET_OLD_DATA }}
    </button>
  </mat-card>

</form>
