<div class="m-1 text-center">Индекс Массы Тела</div>

<div
     class="v-theme-transition relative mb-4 flex w-full gap-[2px] rounded-md border-2 border-[var(--v-color-border-subtle)] p-[1px]">

  @if (bmiPointerPercent$$() !== null) {
    <div class="absolute top-0 left-0 w-full h-full pointer-events-none">
      <div class="relative h-full"
           style="width: calc(100% - 2px); left: 1px;">
        <div class="absolute h-full transition-[left] duration-100 ease-out"
             [style.left.%]="bmiPointerPercent$$()">
          <div class="-translate-x-1/2">
            <v-icon class="absolute -left-[12px] -bottom-[8px]"
                    [name]="Icon.KeyboardArrowDown"
                    [size]="5" />
            <v-icon class="absolute -left-[12px] -top-[-3px]"
                    [name]="Icon.KeyboardArrowUp"
                    [size]="5" />
          </div>
        </div>
      </div>
    </div>
  }

  @for (segment of bmiSegments; track $index) {
    <div [class]="segment.twSegmentClasses"
         [style.flex]="bmiSegmentsWidthFractions[$index]"
         [title]="bmiSegmentTitle($index)">
      @if ($index > 0) {
        <span [class]="segment.twLabelClasses">
          {{ bmiKgThresholdValue($index) }}
        </span>
      }
    </div>
  }

</div>
