<div class="flex gap-2 w-full">
  <div class="lg:block hidden">
    <button class="diary-day-switch-button w-9"
            mat-raised-button
            color="primary"
            (click)="previousDay()">
      <mat-icon class="diary-day-switch-button-icon scale-125">chevron_left</mat-icon>
    </button>
  </div>

  <div class="grow overflow-hidden whitespace-nowrap pt-[6px] text-center text-xl">
    {{ formatDate(selectedDateIso) }}
    <!-- long name for testing: -->
    <!-- {{ formatDate("2024-12-30") }} -->
  </div>

  <div class="lg:flex hidden flex-col">
    <button class="diary-day-switch-button w-9"
            mat-raised-button
            color="primary"
            (click)="pickerDesktop.open()">
      <mat-icon class="diary-day-switch-button-icon scale-125">calendar_month</mat-icon>
    </button>

    <mat-form-field class="w-0 h-0">
      <input matInput
             [matDatepicker]="pickerDesktop"
             [formControl]="calendarSelectedDay"
             (dateChange)="onDatePicked($event)"
             [max]="today" />
      <mat-datepicker-toggle [for]="pickerDesktop" />
      <mat-datepicker #pickerDesktop />
    </mat-form-field>
  </div>

  <div class="lg:block hidden">
    <button class="diary-day-switch-button w-9"
            mat-raised-button
            color="primary"
            (click)="nextDay()">
      <mat-icon class="diary-day-switch-button-icon scale-125">chevron_right</mat-icon>
    </button>
  </div>
</div>

<div *ngIf="isAuthenticated"
     class="lg:hidden flex fixed bottom-0 left-0 gap-5 justify-between px-4 pb-4 w-full"
     style="z-index: 10">
  <button class="scale-100"
          mat-fab
          color="primary"
          (click)="previousDay()">
    <mat-icon class="scale-150">chevron_left</mat-icon>
  </button>

  <button class="scale-100"
          mat-fab
          color="primary"
          (click)="pickerTouch.open()">
    <mat-icon class="scale-150">calendar_month</mat-icon>
  </button>

  <button class="scale-100"
          mat-fab
          color="primary"
          (click)="nextDay()">
    <mat-icon class="scale-150">chevron_right</mat-icon>
  </button>

  <div class="w-14 h-14">
    <!-- placeholder for hamburger menu -->
  </div>
</div>

<mat-form-field class="hide-form">
  <input matInput
         [matDatepicker]="pickerTouch"
         [formControl]="calendarSelectedDay"
         (dateChange)="onDatePicked($event)"
         [max]="today" />
  <mat-datepicker-toggle [for]="pickerTouch" />
  <mat-datepicker touchUi
                  #pickerTouch />
</mat-form-field>
