<div [class.mb-4]="searchResults$$().length === 0"
     class="flex justify-center gap-4 px-4 pt-4">
  @if (isLegacySearch$$()) {
    <v-button primary
              [config]="{
                paddingX: 2,
              }"
              (mousedown)="$event.preventDefault()"
              (onClick)="toggleLegacySearch()"
              tabindex="-1">
      <v-icon [name]="Icon.SwapHoriz"
              [size]="7"
              class="m-0" />
    </v-button>
  }
  @else {
    <v-button raised
              [config]="{
                paddingX: 2,
              }"
              (mousedown)="$event.preventDefault()"
              (onClick)="toggleLegacySearch()"
              tabindex="-1">
      <v-icon [name]="Icon.SwapHoriz"
              [size]="7"
              class="m-0" />
    </v-button>
  }

  <v-input [(value)]="searchQuery$$"
           [config]="{
             type: 'text'
           }"
           class="catalogue-entry-name-input w-full" />

  @if (isRecording) {
    <v-button primary
              [config]="{
                paddingX: 2,
              }"
              (click)="toggleVoiceRecording()">
      <v-icon class="animate-pulse"
              [name]="Icon.Mic"
              [size]="7" />
    </v-button>
  } @else {
    <v-button raised
              [config]="{
                paddingX: 2,
              }"
              (click)="toggleVoiceRecording()">
      <v-icon [name]="Icon.Mic"
              [size]="7" />
    </v-button>
  }

  @if (shouldShowCameraButton) {
    <v-button raised
              class="md:hidden inline-block"
              [config]="{
                paddingX: 2,
              }"
              (click)="takePhoto()">
      <v-icon [name]="Icon.PhotoCamera"
              [size]="7" />
    </v-button>
  }
</div>

@if (isLegacySearch$$()) {
  <div [class.mb-4]="searchResults$$().length === 0"
       class="shadow-orange-500/30 flex items-center gap-2 px-2 py-1 mx-4 mt-4 font-medium text-white origin-top bg-orange-500 rounded-lg shadow-lg">
    <v-icon [name]="Icon.Warning"
            [size]="5" />
    <span>Используется устаревший поиск</span>
  </div>
}

<div [ngClass]="searchResults$$().length > 0 ? 'pt-4 pb-4' : ''"
     class="grid-auto-fill grid gap-2 pl-4 pr-4 overflow-y-auto rounded-lg">
  @if (searchResults$$().length > 0) {
    <div flipAnimate
         class="contents">
      @for (catalogueEntry of searchResults$$(); track catalogueEntry.id) {
        <v-card class="pb-2 rounded cursor-pointer"
                [attr.data-flip-key]="'catalogue-' + catalogueEntry.id"
                (click)="selectProduct(catalogueEntry)">
          <div class="catalogue-entry-name">{{ getDisplayName(catalogueEntry) }}</div>
        </v-card>
      }
    </div>
  }

  @if (searchResults$$().length > 0) {
    <v-card class="pb-2 rounded cursor-pointer"
            @fadeScaleIn
            (click)="addProduct()">
      <div class="add-catalogue-entry flex items-center justify-center w-full h-full">
        <v-icon [name]="Icon.Add"
                [size]="7" />
      </div>
    </v-card>
  }
</div>

@if (searchResults$$().length > 0 && isMobile$$()) {
  <div class="sticky bottom-0 flex justify-start px-4 pb-4">
    <v-button danger
              [config]="{
                isWithoutShadow: true,
                isLabelHidden: true,
                paddingX: 2,
              }"
              (click)="closeModal()">
      <v-icon v-prefix
              [name]="Icon.Close"
              [size]="10" />
    </v-button>
  </div>
}
