<div class="flex justify-center gap-4 p-4">
  <v-input [formControl]="foodNameControl"
           [config]="{ type: 'text' }"
           class="catalogue-entry-name-input w-full">
    <v-button flat
              v-prefix
              [config]="{ isWithoutShadow: true, paddingX: 0, paddingY: 0 }"
              (mousedown)="$event.preventDefault()"
              (onClick)="toggleLegacySearch()"
              class="ml-2 mr-1"
              tabindex="-1">
      <v-icon [name]="Icon.SwapHoriz"
              [size]="7"
              class="m-0" />
    </v-button>
  </v-input>

  @if (isRecording) {
    <v-button primary
              [config]="{ isWithoutShadow: true, isLabelHidden: true, paddingX: 2 }"
              (click)="toggleVoiceRecording()">
      <v-icon v-prefix
              class="animate-pulse"
              [name]="Icon.Mic"
              [size]="7" />
    </v-button>
  } @else {
    <v-button primary
              [config]="{ isWithoutShadow: true, isLabelHidden: true, paddingX: 2 }"
              (click)="toggleVoiceRecording()">
      <v-icon v-prefix
              [name]="Icon.Mic"
              [size]="7" />
    </v-button>
  }

  @if (shouldShowCameraButton) {
    <v-button primary
              class="md:hidden inline-block"
              [config]="{ isWithoutShadow: true, isLabelHidden: true, paddingX: 2 }"
              (click)="takePhoto()">
      <v-icon v-prefix
              [name]="Icon.PhotoCamera"
              [size]="7" />
    </v-button>
  }
</div>

@if (isLegacySearch$$()) {
  <div
       class="shadow-orange-500/30 flex items-center gap-2 px-2 py-1 mx-4 mb-4 font-medium text-white origin-top bg-orange-500 rounded-lg shadow-lg">
    <v-icon [name]="Icon.Warning"
            [size]="5" />
    <span>Используется устаревший поиск</span>
  </div>
}

@if (searchResults$$.length > 0) {
  <div flipAnimate
       class="grid-auto-fill grid gap-2 pt-0 pb-4 pl-4 pr-2 overflow-y-auto rounded-lg">
    @for (catalogueEntry of searchResults$$; track catalogueEntry.id) {
      <v-card class="pb-2 rounded cursor-pointer"
              [attr.data-flip-key]="'catalogue-' + catalogueEntry.id"
              (click)="selectProduct(catalogueEntry)">
        <div class="catalogue-entry-name">{{ getDisplayName(catalogueEntry) }}</div>
      </v-card>
    }
  </div>

  <v-button danger
            class="absolute bottom-0 pb-4 pl-4 mr-auto"
            [config]="{ isWithoutShadow: true, isLabelHidden: true, paddingX: 2 }"
            (click)="closeModal()">
    <v-icon v-prefix
            [name]="Icon.Close"
            [size]="10" />
  </v-button>
}
