::ng-deep {

  // mdc-notched-outline element is a perfect fit for this animations
  .countdown-state {
    .mdc-notched-outline {
      &::before {
        content: '';
        position: absolute;
        inset: 0;
        background: #3F51B5;
        opacity: 0.1;
        animation: fill-background 2s linear forwards;
        border-radius: 5px;
      }
    }
  }

  .submitting-state {
    .mdc-notched-outline {
      &::before {
        content: '';
        position: absolute;
        inset: 0;
        background: #3F51B5;
        opacity: 0.1;
        border-radius: 5px;
      }

      &::after {
        content: '';
        position: absolute;
        inset: 0;
        background: repeating-linear-gradient(135deg, #3F51B5 0 4px, transparent 0 8px) right/200% 100%;
        opacity: 0.2;
        animation: slide-pattern 7s infinite linear;
        border-radius: 5px;
        animation-play-state: running;
      }
    }
  }

  .success-state,
  .error-state {
    .mdc-notched-outline {
      &::after {
        animation-play-state: paused;
      }
    }
  }

  .success-state {
    .mdc-notched-outline {
      &::before {
        content: '';
        position: absolute;
        inset: 0;
        background-color: #00FF00;
        border-radius: 5px;
        animation: fade-out 3s linear forwards;
      }
    }
  }

  .error-state {
    .mdc-notched-outline {
      &::before {
        content: '';
        position: absolute;
        inset: 0;
        background-color: #FF0000;
        border-radius: 5px;
        animation: fade-out 3s linear forwards;
      }
    }
  }
}

@keyframes fill-background {
  from {
    clip-path: inset(0 100% 0 0);
  }

  to {
    clip-path: inset(0 0 0 0);
  }
}

@keyframes slide-pattern {
  to {
    background-position: left;
  }
}

@keyframes fade-out {
  from {
    opacity: 0.2;
  }

  to {
    opacity: 0;
  }
}
