<div class="lg:block hidden mb-4">
  <mat-card>
    <div class="my-2 w-full text-xl font-semibold text-center">Дневник</div>
  </mat-card>
</div>

<mat-accordion>
  <div class="flex gap-2">
    <div class="mb-2 w-full">
      <app-diary-nav-buttons />
    </div>
  </div>

  <mat-expansion-panel color="primary"
                       class="sub-expansion-panel-38px-50px expansion-panel-rounded panel-body-weight">
    <mat-expansion-panel-header class="expansion-panel-arrow-indiactor-remove mat-expansion-panel-header-margins-decrease"
                                [ngStyle]="setBackgroundStyle(todaysKcalsPercent)">
      <div class="overflow-hidden text-center whitespace-nowrap">
        Съедено {{ todaysKcalsEaten }} ккал. от нормы
        {{ todaysTargetKcals }}
        ({{ formatSelectedDaysEatenPercent }}%)
      </div>
    </mat-expansion-panel-header>

    <app-bmi />

    <app-body-weight />
  </mat-expansion-panel>

  <div class="mb-1"></div>

  <div #foodCont
       class="tw-bg-color flex overflow-hidden gap-1 w-full text-base font-normal whitespace-nowrap">
    <div #foodName
         class="tw-card-food-entry grow overflow-hidden text-center whitespace-nowrap">
      Блюдо:
    </div>

    <div #foodWeight
         class="text-center">
      г.
    </div>

    <div #foodKcals
         class="text-center">
      kcal
    </div>

    <div #foodPercent
         class="text-center">
      %
    </div>
  </div>

  @for (food of selectedDayFood; track food.id; let first = $first; let last = $last) {
    <mat-expansion-panel #diaryEntry
                         class="sub-expansion-panel-38px-50px"
                         [class.first-in-group]="first"
                         [class.last-in-group]="last"
                         (opened)="diaryEntryExpanded(diaryEntry, food.id)">
      <mat-expansion-panel-header class="expansion-panel-arrow-indiactor-remove mat-expansion-panel-header-margins-decrease"
                                  [ngStyle]="setBackgroundStyle(food.foodKcalPercentageOfDaysNorm)">
        <mat-panel-title class="mat-panel-title-margin-remove">
          <div #foodCont
               class="flex overflow-hidden gap-1 w-full text-base font-normal whitespace-nowrap">
            <div #foodName
                 class="tw-card-food-entry grow overflow-hidden whitespace-nowrap">
              {{ food.foodName }}
            </div>

            <div #foodWeight
                 class="text-right">
              {{ food.foodWeight }}<span class="text-xs"> Г.</span>
            </div>

            <div #foodKcals
                 class="text-right">
              {{ food.foodKcals }}
            </div>

            <div #foodPercent
                 class="text-right">
              {{ food.foodPercent }}<span class="text-xs">%</span>
            </div>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>

      @defer (on timer(500)) {
        <app-diary-entry-edit-form [diaryEntry]="food"
                                   (onServerSuccessfullEditResponse)="accordionCollapse()" />
      }
    </mat-expansion-panel>
  }

  <div class="mb-2"></div>

  <mat-expansion-panel #newDiaryEntryPanel
                       color="primary"
                       class="sub-expansion-panel-38px-50px expansion-panel-rounded"
                       (opened)="newDiaryEntryExpanded()">
    <mat-expansion-panel-header
                                class="expansion-panel-arrow-indiactor-remove mat-expansion-panel-header-margins-decrease add-panel-header">
      <!-- TODO: Think of a way to put text here upon panel expanding -->
      <div class="add-icon-container w-fit">
        <!-- <div class="mb-4 text-xl font-medium text-center">Добавление записи</div> -->
        <mat-icon class="add-icon relative top-[2px] scale-150">add</mat-icon>
      </div>
    </mat-expansion-panel-header>

    <app-diary-entry-new-form [expanded]="newDiaryEntryPanel.expanded"
                              (onServerSuccessfullResponse)="accordionCollapse()" />
  </mat-expansion-panel>
</mat-accordion>

<div class="h-[50vh]"></div>
