::ng-deep {
  .modal-container:has(camera-preview) {
    /* Stretch camera preview to fill the entire screen */
    width: 100vw !important;
  }
}

.readable-text-bg {
  padding: 1px 6px;
  background: color-mix(in srgb, var(--v-color-surface) 80%, transparent);
  border-radius: 4px;
}
