<!-- @if (deviceInfoService.isDesktopScreen$$()) {
  <div class="mb-4">
    <v-card [borderRadius]="2"
            [padding]="0">
      <div class="w-full my-2 text-xl font-semibold text-center">Дневник</div>
    </v-card>
  </div>
} -->

<div class="flex gap-2">
  <div class="w-full mb-3">
    <diary-nav-buttons />
  </div>
</div>

<v-accordion groupId="food-diary-section">
  <v-expand class="BMI mb-3"
            (onOpened)="onBMIExpandOpened($event)">
    <div v-header
         class="v-header v-theme-transition w-full p-2 text-center"
         [ngStyle]="setBackgroundStyle(selectedDaysKcalsPercent$$(), true)">
      <span class=" font-normal">{{ caloriesDisplayText$$() }}</span>
    </div>

    <div v-body
         class="flex flex-col gap-2 p-4">
      <bmi />
      <body-weight #bodyWeight />
      <nutrition-summary />
    </div>
  </v-expand>
</v-accordion>

<v-accordion groupId="food-diary-section">
  @for (food of selectedDayDiaryEntries$$(); track food.id) {
    <v-expand class="item"
              (onOpened)="onVExpandOpened($event, food.id)">
      <ng-container v-corner-pic>
        @if (foodCatalogueService.getCornerImageUrl(food.foodCatalogueId); as cornerImageUrl) {
          <img [src]="cornerImageUrl"
               class="absolute top-[-3px] left-[-3px] w-[185px] h-[185px] pointer-events-none"
               [class.hidden]="!isEntryExpanded(food.id)">
        }
      </ng-container>

      <div v-header
           #diaryEntryHeader
           class="v-theme-transition relative p-2"
           [ngStyle]="setBackgroundStyle(food.foodKcalPercentageOfDaysNorm)">

        @if (foodCatalogueService.getSquircleImageUrl(food.foodCatalogueId); as squircleImageUrl) {
          <img [src]="squircleImageUrl"
               class="absolute top-0 left-0 w-[40px] h-[40px] pointer-events-none"
               [class.hidden]="isEntryExpanded(food.id)">
        }

        <div #foodCont
             class="whitespace-nowrap flex overflow-hidden font-normal"
             [class.pl-[31px]]="!isEntryExpanded(food.id)">
          <div #foodName
               class="overflow-ellipsis grow whitespace-nowrap overflow-hidden">
            <span class="readable-text-bg py-[1px] px-[6px]">{{ food.foodName }}</span>
          </div>

          <div class="col-animated-width overflow-hidden whitespace-nowrap text-right"
               [style.width.px]="columnWidths$$().weight">
            <span #foodWeightMeasureElem>{{ food.foodWeight }} <span class="text-xs"> Г.</span></span>
          </div>

          <div class="col-animated-width overflow-hidden whitespace-nowrap ml-2 text-right"
               [style.width.px]="columnWidths$$().percent">
            <span #foodPercentMeasureElem>{{ food.foodPercent }} <span class="text-xs">%</span></span>
          </div>
        </div>
      </div>

      <div v-body
           class="p-4">
        @defer (on timer(300)) {
          <diary-entry-edit-form [diaryEntry]="food"
                                 (onServerSuccessfullEditResponse)="closeAllAccordions()" />
        }
      </div>
    </v-expand>
  }
  @empty {
    <div class="text-slate-500 p-4 text-center">
      Записей за этот день ещё нет
    </div>
  }
</v-accordion>

@if (deviceInfoService.isDesktopScreen$$() || hasSelectedDayDiaryEntries$$() || canRestoreSelectedDay$$()) {
  <div class="flex justify-start gap-3 mt-3">
    @if (hasSelectedDayDiaryEntries$$()) {
      <v-button class="shrink-0"
                surface="flat"
                [isLabelHidden]="true"
                [padding]="2"
                (onClick)="openDeleteDayConfirmationModal()">
        <v-icon v-prefix
                [name]="Icon.Delete"
                [size]="6" />
      </v-button>
    }

    @if (canRestoreSelectedDay$$()) {
      <v-button class="shrink-0"
                surface="flat"
                [isLabelHidden]="true"
                [padding]="2"
                (onClick)="onRestoreDayClicked()">
        <v-icon v-prefix
                [name]="Icon.Undo"
                [size]="6" />
      </v-button>
    }

    @if (deviceInfoService.isDesktopScreen$$()) {
      <v-button [class.v-primary]="addDiaryEntryButtonVariant$$() === 'primary'"
                [surface]="addDiaryEntryButtonVariant$$() === 'raised' ? 'raised' : 'default'"
                class="grow"
                width="100%"
                (onClick)="openAddFoodModal()">
        Добавить запись
      </v-button>
    }
  </div>
}

<div class="h-[50vh]"
     (click)="closeAllAccordions()"></div>

<v-modal [deviceType]="deviceInfoService.isMobileScreen$$() ? 'mobile' : 'desktop'"
         [isOpen]="foodAddModalService.currentState$$() !== ModalViewMode.CLOSED"
         mobileWidth="100vw"
         desktopWidth="min(100vw, 577px)"
         [borderRadius]="3"
         [padding]="0"
         (onClose)="closeModal()">
  @switch (foodAddModalService.currentState$$()) {
    @case (ModalViewMode.SEARCH) {
      <food-search />
    }

    @case (ModalViewMode.CAMERA_PREVIEW) {
      <camera-preview />
    }

    @case (ModalViewMode.ADD_DIARY_ENTRY) {
      <diary-entry-add-form />
    }

    @case (ModalViewMode.CREATE_NEW_PRODUCT) {
      <catalogue-entry-edit-form />
    }

    @case (ModalViewMode.EDIT_PRODUCT) {
      <catalogue-entry-edit-form />
    }
  }
</v-modal>

<v-modal [deviceType]="deviceInfoService.isMobileScreen$$() ? 'mobile' : 'desktop'"
         [isOpen]="isDeleteDayConfirmOpen"
         mobileWidth="min(100vw, 320px)"
         desktopWidth="320px"
         [borderRadius]="3"
         [padding]="4"
         (onClose)="closeDeleteDayConfirmationModal()">
  <div class="flex flex-col gap-4">
    <div class="text-3xl font-extrabold leading-tight text-center text-red-600">
      Вы уверены, что хотите удалить все записи за этот день?
    </div>

    <div class="flex gap-4">
      <v-button surface="flat"
                width="100%"
                (onClick)="closeDeleteDayConfirmationModal()">
        Нет
      </v-button>

      <v-button class="v-danger"
                width="100%"
                (onClick)="onDeleteDayConfirmed()">
        Да
      </v-button>
    </div>
  </div>
</v-modal>
