::ng-deep {
  .panel-body-weight .mat-expansion-panel-body {
    padding: 0px 14px;
  }
}

.mat-expansion-panel-header .add-icon-container {
  transition: 0.2s cubic-bezier(0, 0, 0, 1);
  margin-left: auto;
  margin-right: calc(50% - 12px);
}

.mat-expansion-panel-header.mat-expanded .add-icon-container {
  margin-right: 5px;
}

.mat-expansion-panel-header .add-icon {
  transition: 0.2s linear;
}

.mat-expansion-panel-header.mat-expanded .add-icon {
  transform: scale(1.5) rotate(45deg);
}

.hidden-if-isLiteVersion {
  display: none;
  width: 0 !important;
}

.grid-auto-fill {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.catalogue-entry-name {
  --lines: 4;
  display: -webkit-box;
  min-height: calc(var(--lines) * 1.5em);
  line-clamp: var(--lines);
  -webkit-line-clamp: var(--lines);
  overflow: hidden;
}

::ng-deep {
  v-input.catalogue-entry-name-input div.input-wrapper div.prefix {
    line-height: 12px;
  }

  /* Stretch camera preview to fill the entire screen */
  .modal-container:has(camera-preview) {
    width: 100vw !important;
  }

  v-modal.is-desktop .modal-content {
    --v-modal-width: min(100vw, max(50vw, 500px))
  }

  v-modal.is-mobile .modal-content {
    --v-modal-width: 100vw
  }
}
