::ng-deep {
  .panel-body-weight .mat-expansion-panel-body {
    padding: 0px 14px;
  }
}

.mat-expansion-panel-header .add-icon-container {
  transition: 0.2s cubic-bezier(0, 0, 0, 1);
  margin-left: auto;
  margin-right: calc(50% - 12px);
}

.mat-expansion-panel-header.mat-expanded .add-icon-container {
  margin-right: 5px;
}

.mat-expansion-panel-header .add-icon {
  transition: 0.2s linear;
}

.mat-expansion-panel-header.mat-expanded .add-icon {
  transform: scale(1.5) rotate(45deg);
}
