@if (settings().label) {
  <label class="label"
         [for]="inputId">{{ settings().label }}</label>
}

<div class="input-wrapper"
     [class.focused]="isFocused"
     [class.disabled]="settings().isDisabled">

  <div class="prefix">
    <ng-content select="[v-prefix]" />
  </div>

  <input #inputElement
         [id]="inputId"
         [value]="displayValue()"
         [name]="settings().name || inputId"
         [type]="settings().type"
         [placeholder]="settings().placeholder"
         [disabled]="settings().isDisabled"
         [readonly]="settings().isReadonly"
         [style.text-align]="settings().textAlign"
         [style.--v-input-font-weight]="cssFontWeight()"
         [style.--v-input-font-size]="cssFontSize()"
         (input)="onInputChange($event)"
         (focus)="onFocus()"
         (blur)="onBlur()"
         (keydown)="onKeydown($event)"
         class="input-field" />

  <div class="postfix">
    <ng-content select="[v-postfix]" />
  </div>

</div>

@if (getErrorMessage()) {
  <div class="error-message">{{ getErrorMessage() }}</div>
}
