@if (settings$$().label) {
  <label class="label"
         [for]="inputId">{{ settings$$().label }}</label>
}

<div class="input-wrapper"
     [class.focused]="isFocused"
     [class.disabled]="settings$$().isDisabled">

  <div class="prefix">
    <ng-content select="[v-prefix]" />
  </div>

  @if (settings$$().isTextarea) {
    <textarea #inputElement
              [id]="inputId"
              [value]="displayValue$$()"
              [name]="settings$$().name || inputId"
              [placeholder]="settings$$().placeholder"
              [disabled]="settings$$().isDisabled"
              [readonly]="settings$$().isReadonly"
              [rows]="settings$$().rows"
              [cols]="settings$$().cols"
              [style.text-align]="settings$$().textAlign"
              [style.--v-input-font-weight]="cssFontWeight$$()"
              [style.--v-input-font-size]="cssFontSize$$()"
              class="input-field textarea-field"
              (input)="onInputChange($event)"
              (change)="onInputChange($event)"
              (focus)="onFocus()"
              (blur)="onBlur()"
              (keydown)="onKeydown($event)"></textarea>
  } @else {
    <input #inputElement
           [id]="inputId"
           [value]="displayValue$$()"
           [name]="settings$$().name || inputId"
           [type]="settings$$().type"
           [placeholder]="settings$$().placeholder"
           [disabled]="settings$$().isDisabled"
           [readonly]="settings$$().isReadonly"
           [style.text-align]="settings$$().textAlign"
           [style.--v-input-font-weight]="cssFontWeight$$()"
           [style.--v-input-font-size]="cssFontSize$$()"
           class="input-field"
           (input)="onInputChange($event)"
           (change)="onInputChange($event)"
           (focus)="onFocus()"
           (blur)="onBlur()"
           (keydown)="onKeydown($event)" />
  }

  <div class="postfix">
    <ng-content select="[v-postfix]" />
  </div>

</div>

@if (getErrorMessage()) {
  <div class="error-message">
    {{ getErrorMessage() }}
  </div>
}
