<div class="mx-auto flex w-full max-w-[1198px] items-stretch justify-center gap-x-2">
  @if (largeScreen || section === "catalogue") {
    <section class="w-full max-w-[394px] flex-1 border-0 border-blue-700 px-1">
      <app-food-catalogue />
    </section>
  }

  @if (largeScreen || section === "diary") {
    <section class="w-full max-w-[394px] flex-1 border-0 border-red-700 px-1">
      <app-food-diary />
    </section>
  }

  @if (largeScreen || section === "stats") {
    <section class="w-full max-w-[394px] flex-1 border-0 border-green-700 px-1">
      <app-food-stats />
    </section>
  }
</div>
