<div class="mx-auto flex w-full max-w-[1198px] items-stretch justify-center gap-x-2">
  @if (deviceInfoService.isDesktopScreen$$() || selectedFoodSection === "catalogue") {
    <section class="w-full max-w-[394px] flex-1 border-0 border-blue-700 px-1">
      <!-- <app-food-catalogue /> -->
    </section>
  }

  @if (deviceInfoService.isDesktopScreen$$() || selectedFoodSection === "diary") {
    <section class="w-full max-w-[394px] flex-1 border-0 border-red-700 px-1">
      <food-diary />
    </section>
  }

  @if (deviceInfoService.isDesktopScreen$$() || selectedFoodSection === "stats") {
    <section class="w-full max-w-[394px] flex-1 border-0 border-green-700 px-1">
      <food-stats />
    </section>
  }
</div>
