<v-card [config]="{
          padding: 4,
        }">

  @if (!authService.isAuthenticated$$()) {
    <form [formGroup]="authForm"
          class="flex flex-col gap-2 mt-6"
          (ngSubmit)="submit()">
      @if (!isLoginMode$$() && justRegistered$$()) {
        <div class="w-full font-bold text-green-800">
          Регистрация прошла успешно! Теперь вы можете войти со своими логином и паролем:
        </div>
      }

      <v-input formControlName="username"
               class="w-full"
               [config]="{
                 type: 'text',
                 label: 'Логин',
                 errorMessage: usernameErrorMessage$$(),
               }">
      </v-input>

      <v-input formControlName="password"
               class="w-full"
               [config]="{
                 type: 'password',
                 label: 'Пароль',
                 errorMessage: passwordErrorMessage$$(),
               }">
      </v-input>

      <v-button primary
                class="w-full text-lg"
                [config]="{
                  type: 'submit',
                  isDisabled: authForm.invalid || submitted$$(),
                }">
        {{ isLoginMode$$() ? "Войти" : "Зарегистрироваться" }}
      </v-button>
    </form>

    <div class="flex justify-end gap-2 mt-6 mb-6 text-right">
      <div class="mt-2">{{ isLoginMode$$() ? "Нет аккаунта?" : "Уже есть аккаунт?" }}</div>
      <v-button primary
                [config]="{
                  type: 'button',
                }"
                (click)="toggleMode()">
        {{ isLoginMode$$() ? "Зарегистрироваться" : "Войти" }}
      </v-button>
    </div>
  } @else {
    <div class="flex flex-col gap-2">
      <div class="text-lg font-bold">Аккаунт: {{ settingsService.settings$$().userName }}</div>
      <v-button primary
                class="text-lg"
                [config]="{
                  type: 'button',
                }"
                (click)="authService.logout()">
        Выйти
      </v-button>
    </div>
  }

</v-card>
