<form [formGroup]="foodForm"
      (submit)="onSubmit()">
  <mat-form-field class="w-full"
                  appearance="outline">
    <mat-label>Название:</mat-label>

    <input matInput
           formControlName="name" />

    <mat-error *ngIf="foodForm.get('name')?.hasError('required')"> Введите название. </mat-error>

    <mat-error *ngIf="foodForm.get('name')?.hasError('duplicateName')"> Такое название уже есть. </mat-error>
  </mat-form-field>

  <!-- TODO[068]: Think of a better way to work with admin privileges -->
  @if (isAdmin) {
    <mat-form-field class="w-full"
                    appearance="outline">
      <mat-label>Число ккал на 100 г.:</mat-label>

      <input matInput
             class="text-right"
             formControlName="kcals" />

      <span matSuffix
            class="mx-2">
        ккал
      </span>

      <mat-error *ngIf="foodForm.get('kcals')?.hasError('required')"> Введите кол-во калорий на 100 г. </mat-error>

      <mat-error *ngIf="foodForm.get('kcals')?.hasError('pattern')"> Можно ввести только целое число. </mat-error>
    </mat-form-field>
  }

  <div class="flex gap-2">
    <div class="grow flex flex-row-reverse py-2">
      <button *ngIf="formRole == 'edit'"
              mat-raised-button
              type="button"
              color="primary"
              class="mat-button-enlarged-45-px text-lg"
              [disabled]="queryPending"
              (click)="switchOwnership()">
        {{ isCatalogueEntryPicked ? "Убрать" : "Забрать к себе" }}
      </button>
    </div>

    <div class="flex flex-row-reverse py-2">
      <button mat-raised-button
              type="submit"
              color="primary"
              class="mat-button-enlarged-45-px text-lg"
              [disabled]="!isFormValid()">
        {{ formRole === "edit" ? "Сохранить" : "Добавить" }}
      </button>
    </div>
  </div>
</form>
