<v-modal [deviceType]="deviceInfoService.isMobileScreen$$() ? 'mobile' : 'desktop'"
         [isOpen]="isModalOpen()"
         mobileWidth="min(100vw, 300px)"
         desktopWidth="300px"
         [borderRadius]="3"
         [padding]="4"
         (onClose)="onClose()">
  <div class="flex flex-col gap-4">
    @if (modalTitle()) {
      <div class="text-xl font-medium text-center">
        {{ modalTitle() }}
      </div>
    }

    @if (modalMessage()) {
      <div class="opacity-70 text-sm text-center">
        {{ modalMessage() }}
      </div>
    }

    <div class="flex gap-4">
      <v-button surface="flat"
                width="100%"
                (onClick)="onCancel()">
        {{ cancelButtonLabel() }}
      </v-button>

      <v-button class="v-danger"
                width="100%"
                (onClick)="onConfirm()">
        {{ confirmButtonLabel() }}
      </v-button>
    </div>
  </div>
</v-modal>
