<div class="lg:block hidden mb-4">
  <mat-card>
    <div class="w-full my-2 text-xl font-semibold text-center">Каталог</div>
  </mat-card>
</div>

<mat-form-field appearance="outline"
                class="catalogue-filter-input-hint-remove catalogue-filter-input-text-size-increase w-full mb-4">

  <mat-label>Поиск</mat-label>

  <input matInput
         class="text-center"
         [ngModel]="usersInput"
         (ngModelChange)="onSearchInput($event)"
         placeholder="Введите название" />

  @if (usersInput !== "") {
    <button mat-icon-button
            matSuffix
            aria-label="Очистить"
            (click)="onSearchInput('')">
      <mat-icon class="absolute bottom-[-8px] right-[12px] scale-100">close</mat-icon>
    </button>
  }

</mat-form-field>

<mat-accordion>

  <mat-card class="mb-2">
    <div class="w-full my-1 text-lg font-medium text-center">Моя еда:</div>
  </mat-card>

  @for (food of paginatedSelectedCatalogue; track food.id; let first = $first; let last = $last) {
    <mat-expansion-panel #panel="matExpansionPanel"
                         #foodExpansionPanel
                         [attr.data-food-id]="food.id"
                         class="sub-expansion-panel-38px-50px"
                         [class.first-in-group]="first"
                         [class.last-in-group]="last">

      <mat-expansion-panel-header
                                  class="expansion-panel-arrow-indiactor-remove mat-expansion-panel-header-margins-decrease">
        <mat-panel-title class="mat-panel-title-margin-remove">
          <div class="flex w-full text-base font-normal">
            <div
                 class="grow whitespace-nowrap bg-clip-text bg-gradient-to-r from-black via-black to-transparent overflow-hidden text-transparent">
              {{ food.name }}
            </div>
            <div class="whitespace-nowrap">{{ food.kcals }} ккал.</div>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>

      @defer (on timer(500)) {
        <app-food-catalogue-form [formRole]="'edit'"
                                 [categoryEntry]="food" />
        <!-- (ownershipChanged)="onOwnershipChanged($event)" -->
      }

    </mat-expansion-panel>
  }

  <mat-paginator [length]="filteredSelectedCatalogueLength"
                 [pageSize]="pageSize"
                 (page)="onPageChange($event, 'selected')"
                 hidePageSize
                 showFirstLastButtons />

  <div class="h-4"></div>

  <mat-card class="mb-2">
    <div class="w-full my-1 text-lg font-medium text-center">Общий список:</div>
  </mat-card>

  @for (food of paginatedLeftOutCatalogue; track food.id; let first = $first; let last = $last) {
    <mat-expansion-panel #panel="matExpansionPanel"
                         #foodExpansionPanel
                         [attr.data-food-id]="food.id"
                         class="sub-expansion-panel-38px-50px"
                         [class.first-in-group]="first"
                         [class.last-in-group]="last">

      <mat-expansion-panel-header
                                  class="expansion-panel-arrow-indiactor-remove mat-expansion-panel-header-margins-decrease">
        <mat-panel-title class="mat-panel-title-margin-remove">
          <div class="flex w-full text-base font-normal">
            <div
                 class="grow whitespace-nowrap bg-clip-text bg-gradient-to-r from-black via-black to-transparent overflow-hidden text-transparent">
              {{ food.name }}
            </div>

            <div class="whitespace-nowrap">{{ food.kcals }} ккал.</div>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>
        <app-food-catalogue-form [formRole]="'edit'"
                                 [categoryEntry]="food" />
        <!-- (ownershipChanged)="onOwnershipChanged($event)" -->
      </ng-template>

    </mat-expansion-panel>
  }

  <mat-paginator [length]="filteredLeftOutCatalogueLength"
                 [pageSize]="pageSize"
                 (page)="onPageChange($event, 'leftOut')"
                 hidePageSize
                 showFirstLastButtons />

  <div class="h-4"></div>

  <mat-expansion-panel class="sub-expansion-panel-38px-50px expansion-panel-rounded">

    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>add</mat-icon>
        <div class="whitespace-nowrap ml-1 overflow-hidden text-base font-medium">Добавить новую еду</div>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <app-food-catalogue-form [formRole]="'new'" />

  </mat-expansion-panel>

</mat-accordion>

<div class="h-[15vh]"></div>
