<div class="relative mb-4">
  <div class="absolute -bottom-[9px] -right-[8px]">
    <v-button flat
              [config]="{
                bgOpacity: '0.75',
                isWithoutShadow: true,
                isLabelHidden: true,
                padding: 0,
              }"
              (click)="toggleHistory()">
      @if (isHistoryExpanded) {
        <v-icon v-prefix
                [name]="Icon.KeyboardArrowUp"
                [size]="8" />
      } @else {
        <v-icon v-prefix
                [name]="Icon.KeyboardArrowDown"
                [size]="8" />
      }
    </v-button>
  </div>
</div>

<v-expand class="history-list"
          [isExpanded]="isHistoryExpanded"
          [isWithoutAnimation]="disableHistoryAnimationTemporaroly">
  <div v-body
       class="flex flex-col gap-2 mb-4 ml-2">
    @for (historyEntry of diaryEntry.history; track $index) {
      <div class="readable-text-bg relative">
        <v-icon class="absolute -left-[6px] -top-[2px] scale-75"
                [name]="chooseIconForHistoryEntry(historyEntry)"
                [size]="7" />
        <div class="ml-6">{{ formHistoryEntry(historyEntry) }}</div>
      </div>
    }
  </div>
</v-expand>

<div class="flex justify-end gap-4 mb-2">
  <div class="readable-text-bg whitespace-nowrap inline-flex items-center justify-center gap-2 text-xl text-center">
    <ui-progress-icon circleStyle
                      class="mb-[3.7px] w-1/3 text-right place-content-end"
                      [progressNum]="projectedSelectedDaysEatenPercentNum"
                      [diameter]="24" />

    <span class="w-2/3 font-bold text-left"> {{ projectedSelectedDaysEatenPercentPadded }}% </span>
  </div>

  <div class="readable-text-bg whitespace-nowrap overflow-hidden text-xl text-center">
    <v-icon class="-mb-[5px]"
            [name]="Icon.Scale"
            [size]="7" />

    <span class="font-bold"> {{ foodWeightFinal }}г. </span>
  </div>
</div>

<form class="flex flex-col gap-4"
      [formGroup]="diaryEntryForm"
      (submit)="onSubmit()">
  <div class="flex justify-end gap-4 mt-0">
    <v-input formControlName="foodWeightNew"
             class="readable-text-bg w-1/3"
             [config]="{
               type: 'number',
               label: 'Новый вес',
               fontSize: '20px',
               fontWeight: 500,
               textAlign: 'right',
             }"
             (input)="onNewWeightInput()">
      @if (foodWeightNewControl.value !== null) {
        <v-button flat
                  v-prefix
                  [config]="{
                    isWithoutShadow: true,
                    isLabelHidden: true,
                    bgOpacity: '0',
                    paddingX: 2,
                    paddingY: 0,
                  }"
                  (click)="onWeightNewResetClick()">
          <v-icon v-prefix
                  [name]="Icon.Close"
                  [size]="6" />
        </v-button>
      }

      @if (foodWeightNewControl.value !== null) {
        <span v-postfix
              class="ml-1 mr-3"> г. </span>
      }
    </v-input>

    <v-input #foodWeightChangeElem
             formControlName="foodWeightChange"
             class="readable-text-bg w-1/3"
             [config]="{
               type: 'number',
               label: 'Изменить вес',
               fontSize: '20px',
               fontWeight: 500,
               textAlign: 'right'
             }"
             (input)="onChangeWeightInput()">
      @if (foodWeightChangeControl.value !== null) {
        <v-button flat
                  v-prefix
                  [config]="{
                    isWithoutShadow: true,
                    isLabelHidden: true,
                    bgOpacity: '0',
                    paddingX: 2,
                    paddingY: 0,
                  }"
                  (click)="onWeightChangeResetClick()">
          <v-icon v-prefix
                  [name]="Icon.Close"
                  [size]="6" />
        </v-button>
      }

      @if (foodWeightChangeControl.value !== null) {
        <span v-postfix
              class="ml-1 mr-3"> г. </span>
      }
    </v-input>
  </div>

  <div class="flex w-full gap-4">
    <v-button danger
              class="text-lg"
              [config]="{ type: 'button' }"
              (click)="openConfirmationModal()">
      Удалить
    </v-button>

    <v-button primary
              class="grow w-full text-lg"
              [config]="{
                type: 'submit',
                isDisabled: !isFormValid(),
              }">
      Сохранить
    </v-button>
  </div>
</form>

<v-modal [config]="{
           isOpen: isDeleteConfirmOpen,
           borderRadius: 3,
           padding: 4,
           deviceType: deviceInfoService.isMobileScreen$$() ? 'mobile' : 'desktop',
           mobileWidth: 'min(100vw, 300px)',
           desktopWidth: '300px',
         }"
         (onClose)="closeConfirmationModal()">
  <div class="flex flex-col gap-4">
    <div class="text-xl font-medium text-center">
      Вы уверены, что хотите удалить эту запись?
    </div>

    <div class="flex gap-4">
      <v-button [config]="{
                  width: '100%'
                }"
                (onClick)="closeConfirmationModal()">
        Нет
      </v-button>

      <v-button danger
                [config]="{
                  width: '100%'
                }"
                (onClick)="onDeleteConfirmed()">
        Да
      </v-button>
    </div>
  </div>
</v-modal>
