<div class="relative">
  <div class="my-3 mr-3 text-xl text-center">
    {{ selectedFoodName }}
  </div>

  <div class="absolute -bottom-[7px] -right-[20px]">
    <button mat-mini-fab
            class="food-diary-entry-history-btn scale-75"
            style="background-color: white"
            (click)="toggleHistory()">
      <mat-icon *ngIf="showHistory">expand_less</mat-icon>
      <mat-icon *ngIf="!showHistory">expand_more</mat-icon>
    </button>
  </div>
</div>

<mat-expansion-panel [expanded]="showHistory">
  <div class="flex flex-col gap-2 mt-4">
    <div *ngFor="let historyEntry of diaryEntry.history"
         class="relative">
      <mat-icon class="absolute -left-[6px] -top-[2px] scale-75">{{
        chooseIconForHistoryEntry(historyEntry)
        }}</mat-icon>

      <div class="ml-5">{{ formHistoryEntry(historyEntry) }}</div>
    </div>
  </div>
</mat-expansion-panel>

<form [formGroup]="diaryEntryForm"
      (submit)="onSubmit()">
  <div class="flex w-full gap-4 mt-2">
    <mat-form-field class="w-1/2"
                    appearance="outline">
      <mat-label>Ввести новый вес:</mat-label>

      <button matPrefix
              type="button"
              mat-icon-button
              *ngIf="diaryEntryForm.value.foodWeightNew && diaryEntryForm.value.foodWeightNew !== ''"
              aria-label="Очистить"
              (click)="diaryEntryForm.get('foodWeightNew')?.setValue('')">
        <mat-icon>close</mat-icon>
      </button>

      <input matInput
             type="number"
             class="text-right"
             formControlName="foodWeightNew"
             (input)="onNewWeightInput()"
             (focus)="onFocus()"
             (blur)="onBlur()" />

      <span matSuffix
            *ngIf="diaryEntryForm.value.foodWeightNew && diaryEntryForm.value.foodWeightNew !== ''"
            class="mx-2">
        г.
      </span>
    </mat-form-field>

    <mat-form-field class="w-1/2"
                    appearance="outline">
      <mat-label>Изменить на:</mat-label>

      <button matPrefix
              type="button"
              mat-icon-button
              *ngIf="diaryEntryForm.value.foodWeightChange && diaryEntryForm.value.foodWeightChange !== ''"
              aria-label="Очистить"
              (click)="diaryEntryForm.get('foodWeightChange')?.setValue('')">
        <mat-icon>close</mat-icon>
      </button>

      <input matInput
             #foodWeightChangeElem
             type="number"
             class="text-right"
             formControlName="foodWeightChange"
             (input)="onChangeWeightInput()"
             (focus)="onFocus()"
             (blur)="onBlur()" />

      <span matSuffix
            *ngIf="diaryEntryForm.value.foodWeightChange && diaryEntryForm.value.foodWeightChange !== ''"
            class="mx-2">
        г.
      </span>
    </mat-form-field>
  </div>

  <mat-card class="mb-4">
    <div class="py-2 text-xl text-center">Вес после сохранения:</div>
  </mat-card>

  <mat-card *ngIf="!errorMessageShow"
            class="h-10 p-2 mb-4">
    <div class="whitespace-nowrap overflow-hidden text-xl text-center">
      {{ previousWeightDisplay }}
      <!-- can't decide on this icon... -->
      <!-- <mat-icon class="-mb-[5px] rotate-180">keyboard_backspace</mat-icon> -->
      <!-- <mat-icon class="-mb-[5px] rotate-[225deg]">transit_enterexit</mat-icon> -->
      <mat-icon class="-mb-[5px]">keyboard_double_arrow_right</mat-icon>
      <span class="font-bold"> {{ foodWeightFinal }} </span>
      г.
    </div>
  </mat-card>

  <mat-card *ngIf="errorMessageShow"
            class="h-10 mb-4"
            style="background-color: orange">
    <div class="flex items-center justify-center h-full">
      <div class="text-center">
        {{ errorMessageText }}
      </div>
    </div>
  </mat-card>

  <div class="flex w-full gap-4 mb-2">
    <button mat-raised-button
            type="button"
            color="warn"
            class="mat-button-enlarged-45-px text-lg"
            (click)="openConfirmationModal('Вы уверены, что хотите удалить эту запись?')">
      Удалить
    </button>

    <button mat-raised-button
            type="submit"
            color="primary"
            class="mat-button-enlarged-45-px grow text-lg"
            [disabled]="!isFormValid()">
      Сохранить
    </button>
  </div>
</form>
