::ng-deep {
  v-expand.history-list {
    div.body {
      display: flex;
      place-content: flex-end;
    }
  }
}

.readable-text-bg {
  padding: 1px 0px;
  background: color-mix(in srgb, var(--color-bg-default) 80%, transparent);
  border-radius: 4px;
  box-decoration-break: clone;
}
