<div class="relative">
  <div class="my-3 mr-3 text-xl text-center">
    {{ selectedFoodName }}
  </div>

  <div class="absolute -bottom-[7px] -right-[20px]">
    <button mat-mini-fab
            class="food-diary-entry-history-btn scale-75"
            style="background-color: white"
            (click)="toggleHistory()">
      <mat-icon *ngIf="showHistory">expand_less</mat-icon>
      <mat-icon *ngIf="!showHistory">expand_more</mat-icon>
    </button>
  </div>
</div>

<mat-expansion-panel [expanded]="showHistory">
  <div class="flex flex-col gap-2 mt-4">
    <div *ngFor="let historyEntry of diaryEntry.history"
         class="relative">
      <mat-icon class="absolute -left-[6px] -top-[2px] scale-75">
        {{ chooseIconForHistoryEntry(historyEntry) }}
      </mat-icon>

      <div class="ml-5">{{ formHistoryEntry(historyEntry) }}</div>
    </div>
  </div>
</mat-expansion-panel>

<form [formGroup]="diaryEntryForm"
      (submit)="onSubmit()">
  <div class="flex w-full gap-4 mt-2 mb-[-15px]">
    <mat-form-field class="w-1/2"
                    appearance="outline">
      <mat-label>Ввести новый вес:</mat-label>

      <button matPrefix
              type="button"
              mat-icon-button
              *ngIf="diaryEntryForm.value.foodWeightNew && diaryEntryForm.value.foodWeightNew !== ''"
              aria-label="Очистить"
              (click)="diaryEntryForm.get('foodWeightNew')?.setValue('')">
        <mat-icon>close</mat-icon>
      </button>

      <input matInput
             type="number"
             class="text-right"
             formControlName="foodWeightNew"
             (input)="onNewWeightInput()"
             (focus)="onFocus()"
             (blur)="onBlur()" />

      <span matSuffix
            *ngIf="diaryEntryForm.value.foodWeightNew && diaryEntryForm.value.foodWeightNew !== ''"
            class="mx-2">
        г.
      </span>
    </mat-form-field>

    <mat-form-field class="w-1/2"
                    appearance="outline">
      <mat-label>Изменить на:</mat-label>

      <button matPrefix
              type="button"
              mat-icon-button
              *ngIf="diaryEntryForm.value.foodWeightChange && diaryEntryForm.value.foodWeightChange !== ''"
              aria-label="Очистить"
              (click)="diaryEntryForm.get('foodWeightChange')?.setValue('')">
        <mat-icon>close</mat-icon>
      </button>

      <input matInput
             #foodWeightChangeElem
             type="number"
             class="text-right"
             formControlName="foodWeightChange"
             (input)="onChangeWeightInput()"
             (focus)="onFocus()"
             (blur)="onBlur()" />

      <span matSuffix
            *ngIf="diaryEntryForm.value.foodWeightChange && diaryEntryForm.value.foodWeightChange !== ''"
            class="mx-2">
        г.
      </span>
    </mat-form-field>
  </div>

  <div class="flex gap-4 mb-4">
    <mat-card class="w-full h-10 p-2">
      <div class="whitespace-nowrap inline-flex items-center justify-center gap-2 text-xl text-center">
        <ui-progress-icon circleStyle
                          [progressNum]="projectedSelectedDaysEatenPercentNum"
                          [diameter]="24"
                          class="mb-[3.7px] w-1/3 text-right place-content-end" />

        <span class="w-2/3 font-bold text-left"> {{ projectedSelectedDaysEatenPercentPadded }}% </span>
      </div>
    </mat-card>

    <mat-card class="w-full h-10 p-2">
      <div class="whitespace-nowrap overflow-hidden text-xl text-center">
        <mat-icon class="-mb-[3px]">scale</mat-icon>

        <span class="font-bold"> {{ foodWeightFinal }}г. </span>
      </div>
    </mat-card>
  </div>

  <div class="flex w-full gap-4 mb-2">
    <button mat-raised-button
            type="button"
            color="warn"
            class="mat-button-enlarged-45-px text-lg"
            (click)="openConfirmationModal('Вы уверены, что хотите удалить эту запись?')">
      Удалить
    </button>

    <button mat-raised-button
            type="submit"
            color="primary"
            class="mat-button-enlarged-45-px grow text-lg"
            [disabled]="!isFormValid()">
      Сохранить
    </button>
  </div>
</form>
