<div class="flex flex-col gap-2">

  @if (deviceInfoService.isDesktopScreen$$()) {
    <div class="">
      <v-card [borderRadius]="2"
              [padding]="0">
        <div class="w-full my-2 text-xl font-semibold text-center">Статистика</div>
      </v-card>
    </div>
  }

  <div class="chart-container h-[200px]">
    <canvas #weightChartCanvas
            id="WeightChart">
      {{ weightChart$$() }}
    </canvas>
  </div>

  <div class="chart-container pl-[22px] h-[200px]">
    <canvas #kcalsChartCanvas
            id="KcalsChart">
      {{ kcalsChart$$() }}
    </canvas>
  </div>

  <div class="flex w-full">Выбрано: {{ selectedRangeLabel$$() }}</div>

  <div class="flex w-full">
    <div class="flex w-1/2">
      <div class="w-1/4 text-left">От:</div>
      <div class="w-3/4 text-left">{{ sliderStartLabel$$() }}</div>
    </div>

    <div class="flex w-1/2">
      <div class="w-1/4 text-right">До:</div>
      <div class="w-3/4 text-right">{{ sliderEndLabel$$() }}</div>
    </div>
  </div>

  <v-slider class="mb-1"
            [valueList]="sliderValueList$$()"
            [isRange]="true"
            [isTouchMode]="deviceInfoService.isMobileScreen$$()"
            [min]="0"
            [max]="maxSliderValue$$()"
            [thumbBorderRadius]="2"
            [range]="selectedRange$$()"
            (rangeChange)="onRangeChange($event)" />

  <div class="flex gap-3">
    <v-button class="grow"
              surface="flat"
              (onClick)="animateClipDateRange(-1)"> Выбрать всё </v-button>

    <v-button class="grow"
              surface="flat"
              (onClick)="animateClipDateRange(360)"> 1 год </v-button>

    <v-button class="grow"
              surface="flat"
              (onClick)="animateClipDateRange(90)"> 3 месяца </v-button>
  </div>

  <div class="h-[40vh]"></div>

</div>
