<div class="lg:block hidden mb-4">
  <mat-card>
    <div class="w-full my-2 text-xl font-semibold text-center">Статистика</div>
  </mat-card>
</div>

<div class="font-semibold">ВЕС:</div>

<div class="chart-container h-[250px]">
  <canvas #weightChartCanvas
          id="WeightChart">
    {{ weightChart }}
  </canvas>
</div>

<div class="mt-4 font-semibold">КАЛОРИИ:</div>

<div class="chart-container h-[250px]">
  <canvas #kcalsChartCanvas
          id="KcalsChart">
    {{ kcalsChart }}
  </canvas>
</div>

<div class="w-full px-3">
  <mat-slider class=""
              [min]="0"
              [max]="maxSliderValue"
              style="width: 95%">
    <input [ngModel]="selectedDateIdxStart"
           (input)="sliderChangeStart($event)"
           matSliderStartThumb />

    <input [ngModel]="selectedDateIdxEnd"
           (input)="sliderChangeEnd($event)"
           matSliderEndThumb />
  </mat-slider>
</div>

<div class="flex w-full px-2">Выбрано: {{ selectedRangeLabel }}</div>

<div class="flex w-full px-2 mt-4">
  <div class="flex w-1/2">
    <div class="w-1/4 text-left">От:</div>
    <div class="w-3/4 text-left">{{ sliderStartLabel }}</div>
  </div>

  <div class="flex w-1/2">
    <div class="w-1/4 text-right">До:</div>
    <div class="w-3/4 text-right">{{ sliderEndLabel }}</div>
  </div>
</div>

<div class="flex gap-3 px-2 mt-2">
  <button type="button"
          mat-raised-button
          color="basic"
          class="grow"
          (click)="clipDateRange(-1)">Выбрать всё</button>

  <button type="button"
          mat-raised-button
          color="basic"
          class="grow"
          (click)="clipDateRange(360)">1 год</button>

  <button type="button"
          mat-raised-button
          color="basic"
          class="grow"
          (click)="clipDateRange(90)">3 месяца</button>
</div>

<div class="h-[40vh]"></div>
