<v-card class="block"
        [class.cursor-pointer]="isInteractiveInput()"
        [style.width.px]="widthPxInput()"
        [config]="{
          padding: 3,
          borderRadius: 2,
          isSelected: isSelectedInput(),
        }"
        (click)="onCardClick($event)">
  <div class="flex items-center justify-between gap-2 text-sm">
    <span class="flex items-center min-w-0 gap-1">
      <span class="opacity-70 truncate"
            [attr.title]="technicalNameInput() || null">{{ labelInput() }}</span>
      @if (descriptionInput()) {
        <v-tooltip class="shrink-0"
                   [text]="descriptionInput()">
          <v-icon class="opacity-70"
                  [name]="Icon.Info"
                  [size]="4" />
        </v-tooltip>
      }
    </span>
    <span class="shrink-0 text-base font-semibold">{{ headerDisplayValue$$() }}</span>
  </div>
  <div class="mt-1"
       [style.height.px]="heightPxInput()">
    <canvas #chartCanvas></canvas>
  </div>
</v-card>
