<v-card class="block"
        [style.width.px]="widthPxInput()"
        [config]="{
          padding: 3,
          borderRadius: 2,
        }">
  <div class="flex items-center justify-between gap-2 text-sm">
    <span class="flex items-center gap-1 min-w-0">
      <span class="truncate opacity-70">{{ labelInput() }}</span>
      @if (descriptionInput()) {
        <v-tooltip class="shrink-0"
                   [text]="descriptionInput()">
          <v-icon class="opacity-70"
                  [name]="Icon.Info"
                  [size]="4" />
        </v-tooltip>
      }
    </span>
    <span class="shrink-0 text-base font-semibold">{{ valueInput() }}</span>
  </div>
  <div class="mt-1"
       [style.height.px]="heightPxInput()">
    <canvas #chartCanvas></canvas>
  </div>
</v-card>
