@use 'tw-colors';

:root {
  // orginizing fonts by tailwind
  --fonts-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --fonts-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --fonts-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  // redefining angular material fonts
  --mat-badge-text-font: var(--fonts-sans) !important;
  --mat-bottom-sheet-container-text-font: var(--fonts-sans) !important;
  --mat-datepicker-calendar-text-font: var(--fonts-sans) !important;
  --mat-expansion-container-text-font: var(--fonts-sans) !important;
  --mat-expansion-header-text-font: var(--fonts-sans) !important;
  --mat-form-field-container-text-font: var(--fonts-sans) !important;
  --mat-form-field-subscript-text-font: var(--fonts-sans) !important;
  --mat-legacy-button-toggle-text-font: var(--fonts-sans) !important;
  --mat-menu-item-label-text-font: var(--fonts-sans) !important;
  --mat-optgroup-label-text-font: var(--fonts-sans) !important;
  --mat-option-label-text-font: var(--fonts-sans) !important;
  --mat-paginator-container-text-font: var(--fonts-sans) !important;
  --mat-select-trigger-text-font: var(--fonts-sans) !important;
  --mat-standard-button-toggle-text-font: var(--fonts-sans) !important;
  --mat-stepper-container-text-font: var(--fonts-sans) !important;
  --mat-stepper-header-label-text-font: var(--fonts-sans) !important;
  --mat-table-footer-supporting-text-font: var(--fonts-sans) !important;
  --mat-table-header-headline-font: var(--fonts-sans) !important;
  --mat-table-row-item-label-text-font: var(--fonts-sans) !important;
  --mat-toolbar-title-text-font: var(--fonts-sans) !important;
  --mdc-filled-text-field-label-text-font: var(--fonts-sans) !important;
  --mdc-outlined-text-field-label-text-font: var(--fonts-sans) !important;
  --mdc-typography-button-font-family: var(--fonts-sans) !important;
  --mdc-typography-font-family: var(--fonts-sans) !important;

  // --gradient-color: #bfdbfe; // blue-200
  --gradient-color: #C7D2FE; // indigo-200
  // --gradient-color: #cbd5e1; //slate-300
  --gradient-bg: #ffffff00;
}

.dark {
  --gradient-color: #475569; // slate-600
  // --gradient-color: #172554; // blue-950
  --gradient-bg: #00000000;
}



.mat-mdc-dialog-content {
  padding: 10px !important;
}

.mat-mdc-paginator {
  background-color: #ffffff00 !important;
}

// making pagination bar fit on small mobile screens
.mat-mdc-paginator-range-label {
  margin-left: 0rem !important;
  margin-right: 1rem !important;
}

// FOOD ////////////////////////////////////////////////////////////////////////

// tweaking to expansion panel formatting of entries in food diary
.mat-expansion-panel-header-margins-decrease {
  padding: 0px 8px !important;
}

.mat-panel-title-margin-remove {
  margin-right: 0px !important;
}

.expansion-panel-arrow-indiactor-remove .mat-expansion-indicator {
  display: none !important; // removing little expansion panel arrow indicator to win back some space
}

// removing unnecessary hint div under the input in catalogue
.catalogue-filter-input-hint-remove .mat-mdc-form-field-subscript-wrapper {
  display: none !important;
}

.mat-button-enlarged-45-px {
  height: 45px !important;
}

.sub-expansion-panel-38px-50px {
  --mat-expansion-header-collapsed-state-height: 38px;
  --mat-expansion-header-expanded-state-height: 50px;

  // setting bodyweight expansion panel to all rounded corners
  // corners are all messed up, since it is detached from other panels.
  &.expansion-panel-rounded {
    border-radius: 4px !important;
  }

  // likewise making rounded corners in first panel on the group
  &.first-in-group {
    border-top-left-radius: 4px !important;
    border-top-right-radius: 4px !important;
  }

  // ...and in the last one too
  &.last-in-group {
    border-bottom-left-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
  }

}

.expansion-panel-2-row {
  --mat-expansion-header-collapsed-state-height: 62px;
  --mat-expansion-header-expanded-state-height: 74px;
}

// Making room for a mat-icon in 2-rowed transfer transaction. So it is not to be clipped.
.expansion-panel-2-row-header {
  padding-left: 10px !important;
}

.mat-mdc-form-field-infix {
  width: auto !important;
}

.mat-drawer {
  background-color: transparent !important;
  box-shadow: none !important;
}

.mdc-button__label {
  letter-spacing: -0.1px;
}

.main-menu-button .mdc-button__label {
  font-size: 16px;
}

// if main menu's button's route is not active - setting bg color to page's bg color
.main-menu-button.mat-mdc-unelevated-button:not(:disabled) {
  background-color: initial !important;
}

// without this fix darkTheme switch button is too wide
.main-menu-button-darkTheme {
  &.mat-mdc-outlined-button {
    padding: 0px !important;
  }

  &.mdc-button {
    min-width: auto !important;
  }
}

.side-menu-button {
  height: 48px !important;
  padding: 0px !important;
}

.side-menu-button .mdc-button__label {
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.3px;
  padding: 10px 16px;
  overflow: hidden;
  margin: 0px;
}

// This rule is a fix for an accordion not in collapsed state while :entering with an animation...
.ng-animating div.mat-expansion-panel-content {
  height: 0px;
  visibility: hidden;
}

// Without this transfer transactions' expansion panel headers' title parts won't overflow correctly
.mat-content {
  display: block !important;
}

// Without this floating selector pane is the width of the mat-input, which can make the list items crumpled
.cdk-overlay-pane {
  min-width: fit-content !important;
}

// Style to fix the weird border within material input with outline appearance caused by tailwind
.mdc-notched-outline__notch {
  border-right: none !important;
}

// more neutral background color for mat card in dark theme
.dark .mat-mdc-card {
  background-color: var(--slate-700)
}

// without this fix buttons that switch days in diary on desktop are too wide
.diary-day-switch-button {
  &.mat-mdc-outlined-button {
    padding: 0px !important;
  }

  &.mdc-button {
    min-width: auto !important;
  }
}

.diary-day-switch-button-icon {
  margin-left: -9px !important;
  margin-right: -9px !important;
}

.dark .mat-expansion-panel {
  background: var(--slate-700) !important;
}

// without this property expansion panel header in dark mode becames gray after collapsing. And only in mobile view.
@media (hover: none) {
  .dark .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled=true]):hover {
    background-color: var(--slate-700) !important;
  }
}

.dark .mdc-fab.food-diary-entry-history-btn {
  background-color: #607d8b !important; // standart material button primary color in dark theme
}

.food-diary-entry-history-btn .mat-icon {
  color: black;
}

.dark .food-diary-entry-history-btn .mat-icon {
  color: white;
}
