@use 'redefine';
@use 'tw-colors';
@use '@app/shared/animations.scss';

//                                                             TAILWIND SETTINGS

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {}

html,
body {
  height: 100%;
}

// scrollbar styling
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 2px;
  background-color: var(--slate-200);
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: var(--slate-400);
}

.dark ::-webkit-scrollbar-track {
  background-color: var(--slate-800);
}

.dark ::-webkit-scrollbar-thumb {
  background-color: var(--slate-600);
}

.readable-text-bg {
  background: color-mix(in srgb, var(--v-color-surface) 80%, transparent);
  border-radius: 4px;
  box-decoration-break: clone;
}
