@if (authService.isAuthenticated$$()) {
  @if (isDesktop$$()) {
    <nav #desktopNav
         class="fixed top-0 left-0 z-40 flex flex-col h-screen gap-2 pt-2 pb-2 pl-2 pr-2">

      <!-- main menu buttons -->
      <div class="flex flex-col gap-2">
        @for (button of visibleButtons$$(); track button.label) {
          @if (button.label !== "DarkThemeSwitch" && button.label !== "Настройки") {
            <v-button class="menu-item"
                      [class.v-link]="!button.selected"
                      [class.v-link-static]="!button.selected"
                      [class.v-flat]="button.selected"
                      [config]="{
                        width: '100%',
                        padding: 2,
                        isLabelHidden: navigationService.isCollapsed$$(),
                        textAlign: 'left',
                      }"
                      (click)="navigateToLink(button.link)">
              <v-icon v-prefix
                      [name]="button.iconName"
                      [size]="7" />
              {{ button.label }}
            </v-button>
          }
        }

      </div>

      <!-- collapse sidebar button -->
      <div class="flex flex-col gap-2 mt-auto">
        <v-button class="v-link v-link-static menu-item"
                  [config]="{
                    padding: 2,
                    isLabelHidden: true,
                  }"
                  (click)="toggleMenuCollapse()">
          <v-icon v-prefix
                  [name]="getCollapseIconName()"
                  [size]="7" />
        </v-button>

        <!-- dark theme switch button -->
        <dark-switch />

        <!-- settings button -->
        @for (button of visibleButtons$$(); track button.label) {
          @if (button.label === "Настройки") {
            <v-button class="menu-item"
                      [class.v-link]="!button.selected"
                      [class.v-link-static]="!button.selected"
                      [class.v-flat]="button.selected"
                      [config]="{
                        width: '100%',
                        padding: 2,
                        isLabelHidden: navigationService.isCollapsed$$(),
                        textAlign: 'left',
                      }"
                      (click)="navigateToLink(button.link)">
              <v-icon v-prefix
                      [name]="button.iconName"
                      [size]="7" />
              {{ button.label }}
            </v-button>
          }
        }
      </div>
    </nav>
  }

  @if (!isDesktop$$()) {
    <div [class]="isMobileMenuOpen$$() ? 'menu-slide-open' : 'menu-slide-closed'"
         class="h-dvh fixed top-0 right-0 z-40 pointer-events-none">
      <div class="flex flex-col justify-end h-full gap-4 mx-4 pointer-events-none">
        @for (button of visibleButtons$$(); track button.label) {
          @if (button.label !== "DarkThemeSwitch") {
            <v-button class="v-primary side-menu-button h-12 overflow-hidden pointer-events-auto"
                      [config]="{
                        width: '100%',
                        gap: 3,
                        textAlign: 'left',
                        isWithoutShadow: true,
                      }"
                      (click)="navigateToLink(button.link); closeMobileMenu()">

              <div [ngClass]="[button.bgClass]"
                   class="menu-btn-bg absolute bottom-[-17px] right-[8px] h-full w-full"></div>

              <v-icon v-prefix
                      [name]="button.iconName"
                      [size]="7" />

              {{ button.label }}
            </v-button>
          }
        }
        <div class="h-20"></div>
      </div>
    </div>

    <div #fader
         [class]="isMobileMenuOpen$$() ? 'fade-in' : 'fade-out'"
         class="h-dvh w-dvw fixed top-0 left-0 z-30 hidden bg-black"
         (click)="closeMobileMenu()">
    </div>

    <div [class]="shouldHideFabButtons$$() ? 'fab-slide-hidden' : 'fab-slide-visible'"
         class="fixed bottom-0 right-0 z-50 mb-4 mr-4">
      <v-button [class.v-danger]="isMobileMenuOpen$$()"
                [class.v-primary]="!isMobileMenuOpen$$()"
                [config]="{
                  isLabelHidden: true,
                  padding: 3,
                  borderRadius: 7,
                  isWithoutShadow: true,
                }"
                (click)="toggleMobileMenu()">
        <v-icon v-prefix
                [name]="isMobileMenuOpen$$() ? Icon.Close : Icon.Menu"
                [size]="8" />
      </v-button>
    </div>
  }
}
