@import '@app/shared/ui-kit/vars.css';

:host {
  min-height: 100vh;
}

.layout {
  display: flex;
  height: 100vh;
}

.navbar {
}

.main-content {
  flex: 1;
  overflow-y: auto;
  padding: var(--unit-4);
}
